artifact/**
build/codegen/**
build/META-INF/**
build/production/**
src/dexter/frontend/clang/obj/**
src/dexter/frontend/clang/bin/**
test/basic/**
test/optimized/**
test/pipeline/**
test/legacy/**
src/META-INF/**
vagrant/.vagrant/**
out/**
